@media screen and (max-width:576px) {
  header {
    width: 361px;
    height: 38px;
  }

  header img {
    width: 63px;
    height: 38px;
    object-fit: cover;
  }

  header nav {
    width: 113px;
    justify-content: flex-end;
  }

  .top_nav {
    display: none;
  }


  .fresh {
    flex-direction: column-reverse;
    width: 100%;
    padding-top: 65px;
    margin: 0;
  }

  .hero_image {
    width: 100%;
    height: 250px;
  }

  .hero_text {
    margin: 28px auto;
    width: 90%;
  }

  .hero_text h2 {
    font-size: 24px;
    width: 65%;
  }

  .hero_text p {
    font-size: 14px;
  }


  .plants {
    width: 90%;
    margin: 0px auto 50px auto;
  }

  .plants h3 {
    font-size: 24px;
    margin-top: 25px;
  }

  #plants-description {
    width: 95%;
    font-size: 14px;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    width: auto;
    height: 340px;
  }

  .flower_img {
    height: 195px;
  }

  .flower_name {
    font-size: 16px;
  }

  .flower_price {
    font-size: 16px;
  }

  .card button {
    font-size: 16px;
  }


  .trusted {
    width: 90%;
    height: 650px;
    flex-direction: column;
  }

  .badge {
    display: none;
  }

  .store {
    width: 100%;
    height: 395px;
  }

  .trust_details {
    width: 100%;
  }

  .trust_details h3 {
    font-size: 24px;
    margin-top: 20px;
  }

  .trust_details ul li {
    font-size: 14px;
    margin-top: 16px;
  }




  .deals {
    width: 90%;
    margin: 140px auto 40px auto;
    height: auto;

  }

  .deals_details {
    grid-template-columns: 1fr;
    grid-template-rows: 185px 185px 185px;
  }

  .deal2 {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 14px;
  }

  .deals_about h3 {
    font-size: 24px;
  }

  .deals_about p {
    font-size: 14px;
    width: 95%;
    margin-bottom: 50px;
  }

  .sub_deal2 p {
    font-size: 20px;
  }

  .sub_deal2 a {
    font-size: 16px;
  }


  .join {
    height: 276px;
  }

  .join p {
    font-size: 20px;
    margin-top: 100px;
  }

  .join div {
    width: 83%;
  }

  .join div input {
    width: 65%;
  }

  .join div button {
    width: 35%;

  }

  footer {
    width: 100%;
  }

  .foot_container {
    flex-direction: column;
    height: auto;
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: calc(100% - 20px);
  }

  .foot_about p {
    font-size: 16px;
  }

  .home,
  .Features {
    height: 250px;
    margin-bottom: 35px;
  }

}