body {
  margin: 0;
  padding: 0;
}

/*header_section*/


header {
  display: flex;
  width: 1140px;
  margin: 30px auto 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 71px;
}

header img {
  height: 82px;
  object-fit: cover;
  width: 135px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  width: 415px;
}

header nav img {
  height: 24px;
  object-fit: cover;
  width: 24px;
}

header nav div {
  display: flex;
  align-items: center;
}

header nav a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  color: rgba(37, 36, 50, 1);
}

.secondary_color {
  color: rgba(137, 135, 161, 1);
}

.light_nav {
  font-weight: 400;
}

.last_nav {
  color: black;
}

.first_nav {
  font-weight: bold;
}




/* fresh section */

.fresh {
  width: 1140px;
  height: 465px;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero_image {
  width: 570px;
  height: 355px;
}

.hero_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_text {
  width: 570px;
}

.hero_text p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 22px;
  margin: 13px 0 0 0;
  padding: 0px;
  color: rgba(0, 0, 0, 0.5);
}

.hero_text h2 {
  font-family: "Noto Serif";
  font-size: 65px;
  font-weight: bold;
  margin: 0;
}

.hero_text h2 span {
  color: rgba(233, 90, 8, 1);
}



/*Plants section */

.plants {
  width: 1140px;
  margin: 0 auto 210px auto;
  text-align: center;
}

.plants h3 {
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  margin: 0px;
}

.plants h3 span {
  color: rgba(233, 90, 8, 1);
}


#plants-description {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  width: 888px;
  margin: 15px auto 50px auto;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
}

.card {
  width: 270px;
  height: 485px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.flower_img {
  width: 100%;
  height: 322px;
  margin: 0px;
}

.flower_img img {
  width: 100%;
  object-fit: cover;
  height: 100%;

}


.card button {
  width: 100%;
  height: 50px;
  background-color: rgba(233, 90, 8, 1);
  color: white;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 700;
  border: none;
  margin: 0;

}

.flower_name {
  font-size: 22px;
  font-family: "Inter";
  color: #111111;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

.flower_price {
  font-size: 22px;
  font-family: "Inter";
  color: #111111;
  font-weight: 800;
  margin: 0;
}


/*Trusted section */

.trusted {
  width: 1140px;
  height: 600px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.store {
  width: 540px;
  height: 100%;
}

.store img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.trust_details {
  width: 540px;
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trust_details h3 {
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  margin: 0px;
}

.trust_details ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.trust_details ul li {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin: 0px;
  margin-top: 20px;
}

.badge {
  width: 286px;
  height: 286px;
  position: absolute;
  left: 30%;
  top: -21%
}

.badge img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/*deals section */

.deals {
  width: 1140px;
  margin: 120px auto;
}

.deals_about h3 {
  font-family: "Noto Serif";
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
}

.deals_about h3 span {
  color: rgba(233, 90, 8, 1);
}

.deals_about p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-family: "Inter";
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 120px;
}

.deals_details {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 20px 20px;
}

.deal2 {
  grid-column: span 2;
  grid-row: span 2;
}


.sub_deal1 p,
.sub_deal2 p,
.sub_deal3 p {
  margin: 0px auto 0px auto;
  font-family: "Noto Serif";
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 65px 0px 20px 0px;
}

.sub_deal1 a,
.sub_deal2 a,
.sub_deal3 a {
  display: block;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: white
}

.sub_deal2 p {
  font-size: 40px;
}

.sub_deal2 a {
  font-size: 28px;
}

.deal1 {
  border-radius: 14px;
  background-image: url('assets/deal-bloom.png');
  background-position: center;
  background-size: cover;
  overflow: hidden;

}

.deal3 {
  border-radius: 14px;
  background-image: url('assets/deal-ana.png');
  background-position: center;
  background-size: cover;
}

.deal2 {
  border-radius: 22px;
  background-image: url('assets/deal-zabo.png');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.sub_deal1,
.sub_deal2,
.sub_deal3 {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  border-radius: 14px;
}