@media screen and (max-width:576px) {
  header {
    width: 361px;
    height: 38px;
  }

  header img {
    width: 63px;
    height: 38px;
    object-fit: cover;
  }

  header nav {
    width: 113px;
    justify-content: flex-end;
  }

  .top_nav {
    display: none;
  }


  .fresh {
    flex-direction: column-reverse;
    width: 100%;
    padding-top: 65px;
    margin: 0;
  }

  .hero_image {
    width: 100%;
    height: 250px;
  }

  .hero_text {
    margin: 28px auto;
    width: 90%;
  }

  .hero_text h2 {
    font-size: 24px;
    width: 65%;
  }

  .hero_text p {
    font-size: 14px;
  }


  .plants {
    width: 90%;
    margin: 0px auto;
  }

  .plants h3 {
    font-size: 24px;
    margin-top: 25px;
  }

  #plants-description {
    width: 95%;
    font-size: 14px;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    width: auto;
    height: 340px;
  }

  .flower_img {
    height: 195px;
  }

  .flower_name {
    font-size: 16px;
  }

  .flower_price {
    font-size: 16px;
  }

  .card button {
    font-size: 16px;
  }
}